
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff7e4;
}

.main-nav {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 12;
  background-color: #09422c;
}

.main-nav ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr) 2fr;
  list-style-type: none;
}

.main-nav li {
  background-color: #09422c;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  align-self: center;
}

.main-nav a:active {
    color: #ffffff;
}
.main-nav a:visited {
    color:#ffffff;
}


i {
  padding: 0.3rem;
  color: #ffffff;
  font-size: 1rem;
  font-family: inherit;
  margin: 0;
}

.main-nav input {
  padding: 6px;
  border: none;
  font-size: .6rem;
  background-color: white;

}

header {
  position: relative;
  text-align: center;
}

header img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

.headertext {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#company-name {
  font-size: 5em;
  font-weight: lighter;
  margin: 10px;

}

#company-info {
  font-size: 2em;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

#company-address {
  margin-top: 2px;
  margin-bottom: 10px;
}

hr {
  padding: 20px;
  border: none;
}

.decorative-hr {
  border: 1px solid #09422c;
  padding: 0px;
  width: 60%;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin: 30px;
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin: 20px;
}

p {
  font-style: normal;
  text-align: center;
}

a {
    color: #09422c;
}
a:visited {
    color: #0e8457;
}

.products {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  margin-left: 10%;
  margin-right: 10%;
}

.productcard {
  display: grid;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 300px;
  background-color: white;
  text-align: center;
}

.productcard h1 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.productimg {
  height: 450px;
  width: 300px;
  margin: 0px;
}

.price {
  font-size: 20px;
  color: #777777;
  font-style: italic;
  margin: 0px;
}

.product-description {
  font-size: 15px;
  font-weight: lighter;
  margin-right: 15%;
  margin-left: 15%;
}

.productcard span {
  text-decoration: line-through;
  color: #777777;
  font-style: italic;
}

.price-reduced {
  color: red;

}

button {
  border: none;
  outline: 0;
  padding: 12px;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  background-color: #0e8457;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  opacity: 0.7;
}

.shop-more {
  font-size: 12px;
  text-align: center;
  background-color: hidden;
  text-transform: uppercase;
}

.services {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
}

.servicecard {
  display: grid;
  max-width: 300px;
  max-height: 300px;
  margin: auto;
  align: center;
}

.services h2 {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.tab-container {
  width: 80%;
  height: 20%;
  margin-left: 10%;
  margin-right: 10%;
}

.tablink {
  display: flex;
  flex-wrap: nowrap;
  background-color: #09422c;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0px;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;

}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: #0e8457;
  display: none;
  margin: 0px;
  padding: 25px;
  text-align: center;
}

#Succulents {
  background-color: white;
}

#Herbs {
  background-color: white;
}

#Shrubs {
  background-color: white;
}

#Flowers {
  background-color: white;
}


.form-container {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-columns: 1fr 1fr;
  border-radius: 5px;
  background-color: #fff7e4;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.2);
  background-image: url('https://i.ibb.co/CP9Dqzf/newsletter.png');
  background-repeat: repeat;
}

.form-container img {
  background-repeat: repeat;
  z-index: 1;
}

.text-container {
  text-align: center;
  margin-top: 10%;
  z-index: 2;
}

.text-container h2 {
  width: 100%;
  margin-top: 32px;
  font-size: 5em;
  font-weight: bold;
  color: #09422c;
}

.text-container p {
  font-size: 1.5em;
  letter-spacing: 1px;
  line-height: 1.6em;
  color: #09422c;
}

.form {
  width: 70%;
  height: 100%;
  padding: 40px;
  color: #09422c;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #0e8457;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #777;
}

footer {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-template-columns: 150px 1fr 1fr 1fr;
  background-color: #09422c;
}

footer img {
  align-self: center;
}

footer ul {
  list-style-type: none;
  font-size: 12px;
  color: white;
  padding: 2px;
  text-align: center;
}
